.sales-graph {
    flex: 0 0 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    width: 100%;
}