body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main-content {
    width: 70%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    /*flex: 1;*/
}

.top-bar {
    /*overflow: hidden;*/
    background-color: #052849;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

